@use './colors' as *;
@use './animations' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 74px;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	color: $light-brown;
	overflow-x: hidden;
}

.shadow-bg {
	background-color: rgba(43, 42, 42, 0.9);
}

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -5;
}

.show {
	display: block;
}

.hidden {
	display: none;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	color: #333;
	font-size: 20px;
	margin-bottom: 20px;
}
.underline {
	width: 40%;
	height: 2px;
	margin-bottom: 40px;
	background-color: $orange;
	margin: auto;
}

nav {
	text-transform: uppercase;
	z-index: 5;
	transition: background-color 0.6;

	span {
		font-size: 22px;
		color: $orange;
	}

	.navbar-toggler {
		padding: 10px 20px;
		color: $light-brown;
		font-size: 22px;
		letter-spacing: 1px;
	}

	.navbar-logo {
		display: block;
		font-weight: bold;
		font-size: 16px;
		color: $light-brown;
		text-decoration: none;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.navbar-logo:hover {
		color: $light-brown;
		text-decoration-line: underline;
		text-underline-offset: 8px;
	}

	.navbar-nav {
		background-color: rgba(43, 42, 42, 0.9);
	}

	a.nav-link {
		color: $light-brown;
		transition: color, text-decoration-line, .5s;
	}

	a.nav-link:hover {
		color: $orange;
		text-decoration-line: underline;
		text-underline-offset: 8px;
	}

	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show {
		color: $orange;
	}
}

header.hero-img {
	position: relative;
	height: 100vh;
	font-size: 16px;
	color: $light-brown;
	background-image: url('../img/furniture-998265_1920.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 0;

	h1 {
		text-transform: uppercase;
		font-size: 22px;
		font-weight: lighter;
		margin-bottom: 20px;

		span {
			color: $light-brown;
		}
	}

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;

		h1 {
			color: $orange;
		}
	}

	.btn {
		color: $light-brown;
		background-color: $orange;
		font-weight: 600;
		letter-spacing: 1px;
		transition: background-color, .5s;
	}

	.btn:hover {
		background-color: #e4a112;
	}
}

// about-us section
.about-us {
	background: linear-gradient(to bottom right, #fff, #f9f5f0);

	p {
		font-size: 1rem;
		color: #555;
		line-height: 1.8;
		margin-bottom: 20px;
	}

	.background-box {
		background-color: $light-brown;
		border-left: 3px solid $orange;
		padding: 20px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	}
}

// Animacja
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInFromLeft {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

// offers section
.offers-hero {
	position: relative;
	min-height: 60vh;
	padding: 20px;
	font-size: 16px;
	background-image: url('../img/background wood.webp');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow-y: hidden;
	z-index: 0;

	.link {
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		margin-bottom: 30px;

		span {
			font-size: 18px;
			text-transform: uppercase;
			color: $orange;
		}
	}

	.offers-hero-item {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #555;
		background-color: $light-brown;
		padding: 15px;
		margin-bottom: 15px;
		border-radius: 8px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		opacity: 0;
		transform: translateX(30px);
		transition: background-color, transform 0.8s ease-out;
		transition-delay: 0.1s;
		cursor: pointer;

		a {
			color: #555;
			text-decoration: none;
		}

		&.visible {
			opacity: 1;
			transform: translateX(0);
		}

		&:nth-child(2) {
			transition-delay: 0.2s;
		}

		&:nth-child(3) {
			transition-delay: 0.3s;
		}

		&:hover {
			background-color: white;
			transform: scale(1.05);
		}
	}
	.offers-hero-item-text {
		font-size: 25px;;
		color: orange;
	}
}

// why-us section
.why-us {
	background: linear-gradient(to bottom right, #fff, #f9f5f0);
	color: #555;
	text-align: center;
  }
  
  
  .why-us-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .why-us-item {
	background-color: $light-brown;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding: 20px;
	margin: 10px;
	flex: 0 1 calc(33.333% - 40px);
	max-width: calc(33.333% - 40px);
	transition: transform 0.3s ease;
  }
  
  .why-us-item h3 {
	font-size: 18px;
	font-weight: 600;
	color: #444;
	margin-bottom: 10px;
  }
  
  .why-us-item p {
	font-size: 14px;
	padding: 10px;
	line-height: 1.8;
	color: #666;
  }
  
  .why-us-item:hover {
	transform: translateY(-10px);
  }
  
  @media (max-width: 768px) {
	.why-us-item {
	  flex: 0 1 calc(50% - 40px);
	  max-width: calc(50% - 40px);
	}
  }
  
  @media (max-width: 480px) {
	.why-us-item {
	  flex: 0 1 100%;
	  max-width: 100%;
	}
  }
//   footer section
.footer {
	position: relative;
    color: #fff;
    background-image: url('../img/DALL·E\ 2024-10-23\ 17.28.16\ -\ A\ detailed\ close-up\ of\ a\ wood\ grain\ texture\,\ showcasing\ natural\ lines\,\ patterns\,\ and\ knots\ typical\ of\ oak\ or\ ash\ wood.\ The\ wood\ has\ a\ light\ brown\ hue\ .webp');
		padding: 10px;
		font-size: 16px;
		background-size: cover;
		background-position: center;
		z-index: 0;

    .text {
        i {
			
            padding-right: 10px;
            font-size: 22px;
            color: $orange;
        }
	
    }
	.footer-text {
		font-size: 12px;
	}
}
