@use './colors' as *;
@use './animations' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 65px;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	color: $light-color;
	overflow-x: hidden;
}

.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -5;
}

.show {
	display: block;
}

.hidden {
	display: none;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $brown;
	font-size: 20px;
	margin-bottom: 20px;
	text-shadow: 1px 1px 1px $brown;
}
.underline {
	width: 40%;
	height: 2px;
	margin-bottom: 40px;
	background-color: $dark-orange;
	margin: auto;
}

nav {
	background-color: rgba(43, 42, 42, 0.9);
	text-transform: uppercase;
	z-index: 5;
	transition: background-color 0.6;

	span {
		font-size: 22px;
		color: $dark-orange;
	}

	.navbar-toggler {
		color: $light-color;
		padding: 5px 10px;
	}

	.navbar-logo {
		display: block;
		font-weight: bold;
		font-size: 16px;
		color:$light-color;
		text-decoration: none;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.navbar-logo:hover {
		text-decoration-line: underline;
		text-underline-offset: 8px;
	}


	a.nav-link {
		color: $light-color;
		transition: color, text-decoration-line, .5s;
	}

	a.nav-link:hover {
		color: $orange;
		text-decoration-line: underline;
		text-underline-offset: 8px;
	}

	.navbar-nav .nav-link.active,
	.navbar-nav .nav-link.show {
		color: $orange;
	}
}
// header section

header.hero-img {
	position: relative;
	height: 100vh;
	font-size: 16px;
	color: $light-color;
	background-image: url('../img/furniture-998265_1920-min.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-transform: uppercase;
	z-index: 0;

	h1 {
		text-transform: uppercase;
		font-size: 20px;

		span {
			color: $light-color;
			font-size: 20px;
		}
	}

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;

		p {
			color: $light-color;
			font-size: 16px;
			letter-spacing: 1px;
			span {
				font-weight: bold;
				color: $orange;
				font-size: 20px;
				text-transform: uppercase;
				text-shadow: 1px 1px 3px rgb(20, 20, 20);
			}
		}
	}

	.btn {
		margin-top: 14px;
		color: $light-color;
		background-color: $dark-orange;
		font-weight: 600;
		letter-spacing: 1px;
		transition: background-color, .5s;
		border:none;
	}

	.btn:hover {
		background-color: $orange;
	}
}

// mini-gallery
.hero-section {
    margin-top: 40px;
}

.gallery-section {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #f5f5f5;
}

.gallery-container {
    display: flex;
    gap: 15px;
    max-width: 90%;
    overflow-x: auto;
    padding: 10px;
}

.gallery-item {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

// Lightbox 
.lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-content {
    max-width: 60%;
    max-height: 60%;
    margin: auto;
    margin-top: 10%;
    border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.close {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 2.4em;
    color: white;
    cursor: pointer;
}



// about-us section
.about-us {
	background: linear-gradient(to bottom right, #fff, #f9f5f0);

	p {
		font-size: 1rem;
		color: $brown;
		line-height: 1.8;
		margin-bottom: 20px;
	}

	.background-box {
		background-color: $light-color;
		border-left: 3px solid $orange;
		padding: 20px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	}
}

// Animacja
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInFromLeft {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

// offers section
.offers-hero {
	position: relative;
	min-height: 40vh;
	padding: 20px;
	font-size: 16px;
	background-image: url('../img/background wood.webp');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow-x: hidden;
	z-index: 0;

	.link {
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		margin-bottom: 30px;

		span {
			font-size: 18px;
			text-transform: uppercase;
			color: $orange;
			text-shadow: 1px 1px 3px rgb(20, 20, 20);
		}
	}

	.offers-hero-item {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $light-color;
		padding: 15px;
		margin-bottom: 15px;
		border-radius: 8px;
		box-shadow: 5px 5px 5px rgb(41, 40, 40);
		transition: transform 0.3s ease-out;
		transition-delay: 0.1s;
		cursor: pointer;

		a.offers-hero-title {
			color: $brown;
			text-decoration: none;
		}

		&:hover {
			transform: scale(1.05);
		}
	}
	.offers-hero-item-text {
		font-size: 25px;;
		color: $orange;
		font-weight: bold;
		text-shadow: 1px 1px 3px rgb(20, 20, 20);
	}
}

// why-us section
.why-us {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0;
	margin: 0;
	background: linear-gradient(to bottom right, #fff, #f9f5f0);
	text-align: center;
  }
  
  
  .why-us-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 10px;

	.why-us-item {
		display: flex;
		flex-direction: column;
		width: 90vw;
		min-height: 120px;
		background-color: $light-color;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		padding: 20px;
		margin-bottom: 20px;
		transition: transform 0.3s ease;
		h3 {
			font-size: 18px;
			font-weight: 600;
			margin-top: 10px;
			margin-bottom: 15px;
			text-transform: uppercase;
			color: $dark-orange;
			letter-spacing: 1px;
			text-shadow: 0.5px 0.5px 0.5px $dark-orange;
		  }
		  
		 p {
			font-size: 16px;
			padding: 10px;
			line-height: 1.8;
			color: $brown;
		  }
	  }
	  .why-us-item:hover {
		transform: translateY(-10px);
	  }
	  
  }

//   portfolio section {

.portfolio {
	background: $light-color;
	img{
		    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}
}
  
//   footer section
.footer {
	position: relative;
    color: $light-color;
    background-image: url('../img/DALL·E\ 2024-10-23\ 17.28.16\ -\ A\ detailed\ close-up\ of\ a\ wood\ grain\ texture\,\ showcasing\ natural\ lines\,\ patterns\,\ and\ knots\ typical\ of\ oak\ or\ ash\ wood.\ The\ wood\ has\ a\ light\ brown\ hue\ .webp');
	padding: 10px;
	font-size: 16px;
	background-size: cover;
	background-position: center;
	z-index: 0;

    .text {
        i {
			
            padding-right: 10px;
            font-size: 22px;
            color: orange;
        }
	
    }
	.footer-text {
		margin: 10px;
		font-size: 12px;
		a {
		color: $orange;
		text-decoration: none;
		} 
		a:hover {
		color: $dark-orange;
		} 
	}
	
}

// privacy police
.privacy_policy-text {
	padding: 10px;
	color: $brown;
.privacy_policy-text-title {
		font-size: 18px;
		font-weight: 600;
		margin-top: 10px;
		margin-bottom: 15px;
		text-transform: uppercase;
		color: $dark-orange;
		letter-spacing: 1px;
		text-shadow: 0.5px 0.5px 0.5px $dark-orange;
}
	p span {
				font-weight: bold;
			}
}
// coockie modal
.cookie-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  text-align: center;
  z-index: 9999;
  display: none;
}

.cookie-modal.show {
  display: block;
}

.cookie-modal button {
  background-color: $dark-orange;
  border: none;
  color: $light-color;
  padding: 10px 20px;
  margin-left: 15px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: background-color, .5s;
}

.cookie-modal button:hover {
	background-color: $orange;
}

// contact
.contact {
		color: $brown;
	.form {
			max-width: 800px;
		.btn {
			margin-top: 14px;
			text-transform: uppercase;
			color: $light-color;
			background-color: $dark-orange;
			font-weight: 600;
			letter-spacing: 1px;
			transition: background-color, .5s;
			border:none;
			}
		.btn:hover {
  			background-color: $orange;
		}
}
}
// thank_you

.thank-you-section {
	height: 100vh;
  	background-color: rgba(0, 0, 0, 0.9);
  	color: $light-color;
	i {
		color: $orange;
	}

	h1 {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 15px;
	}

	p {
		font-size: 16px;
	}
	a {
		font-size: 12px;
		margin-top: 14px;
		text-transform: uppercase;
		color: $light-color;
		background-color: $dark-orange;
		font-weight: 600;
		letter-spacing: 1px;
		transition: background-color, .5s;
		border:none;
	}
	a:hover {
		background-color: $orange;
	}
}

@media (min-width: 576px) {
	html {
		scroll-padding-top: 71px;
	}

	.section-title {
		h2 {
			font-size: 32px;
		}
	}
	nav {
		span {
			font-size: 26px;
		}
		.navbar-toggler {
			font-size: 24px;
		}
	
		.navbar-logo {
			font-size: 18px;
		}
		a.nav-link {
			font-size: 20px;
		}
	}

	header.hero-img {
		.hero-text {
			p {
				font-size: 24px;
				span {
					font-size: 26px;
				}
			}
		}
	
		.btn {
			font-size: 18px;
			padding: 10px 20px;
		}
	}

	.about-us {
		p {
			font-size: 1.2rem;
		}
	}

	.offers-hero {
		font-size: 18px;
	
		.link {
			font-size: 22px;
			span {
				font-size: 22px;
			}
		}
	
		.offers-hero-item {
			background-color: $light-color;
			padding: 14px;
			margin-bottom: 15px;
			a {
				color: $brown;
				text-decoration: none;
				font-size: 20px;
			}
		}
		.offers-hero-item-text {
			font-size: 28px;
		}
	}
	    
	.why-us-content {
		.why-us-item {
			width: 80vw;
			margin-bottom: 25px;
			h3 {
				font-size: 22px;
				margin-top: 15px;
				margin-bottom: 15px;
			  }
			  
			 p {
				font-size: 18px;
			  }
		  }
	  }
	  
	  .footer {
			padding: 20px;
			font-size: 22px;
			text-shadow: 1px 1px 1px rgb(15, 15, 15);	
		.text {
			i {			
				padding-right: 15px;
				font-size: 22px;
			}
		
		}
		.footer-text {
			font-size: 16px;
		}
	}
}

@media (min-width: 768px) {
	html {
		scroll-padding-top: 75px;
	}

	.section-title {
		h2 {
			font-size: 34px;
		}
	}
	nav {
		span {
			font-size: 28px;
		}
		.navbar-toggler {
			font-size: 30px;
		}
	
		.navbar-logo {
			font-size: 22px;
		}
		a.nav-link {
			font-size: 22px;
			padding: 12px;
		}
	}

	header.hero-img {
		.hero-text {
			p {
				font-size: 24px;
				span {
					font-size: 26px;
				}
			}
		}
	
		.btn {
			font-size: 18px;
			padding: 10px 20px;
		}
	}

	.about-us {
		p {
			font-size: 1.2rem;
		}
	}

	.offers-hero {
		font-size: 18px;
		min-height: 30vh;
	
		.offers-hero-item {
			padding: 16px;
			margin: 10px;
		}
		.offers-hero-item-text {
			font-size: 30px;
		}
	}

	.why-us-content {
		.why-us-item {
			min-width: 300px;
			margin-bottom: 30px;
			h3 {
				font-size: 24px;
			  }
			  
			 p {
				font-size: 20px;
			  }
		  }
	  }
	  
	  .footer {
			padding: 24px;
			font-size: 24px;	
		.text {
			i {			
				padding-right: 18px;
				font-size: 24px;
			}
		}
		.footer-text {
			font-size: 18px;
		}
	}
	.portfolio {
		.portfolio-card {
			img{
				height: 50vh;
				object-fit: cover;
			}
		}
	}
	.contact {
		font-size: 20px;
		form .btn {
			font-size: 18px;
			}
	}
	.thank-you-section {
	h1 {
		font-size: 22px;
	}
	p {
		font-size: 20px;
	}
	a {
		font-size: 16px;
}
	}
@media (min-width: 992px) {
	html {
		scroll-padding-top: 89px;
	}


	.section-title {
		h2 {
			font-size: 34px;
		}
	}
	nav {
		span {
			font-size: 28px;
		}
	
		.navbar-logo {
			font-size: 22px;
		}
		a.nav-link {
			font-size: 22px;
		}
	}

	header.hero-img {
		.hero-text {
			p {
				font-size: 26px;
				span {
					font-size: 30px;
				}
			}
		}
	
		.btn {
			margin-top: 30px;
			font-size: 20px;
		}
	}

	.about-us {
		p {
			font-size: 1.4rem;
		}
	}

	.offers-hero {
		font-size: 24px;
	
		.link {
			font-size: 22px;
			span {
				font-size: 24px;
			}
		}
	
		.offers-hero-item {
			padding: 14px;
			margin-bottom: 18px;
			a {
				font-size: 22px;
			}
		}
		.offers-hero-item-text {
			font-size: 30px;
		}
	}
	  
	.why-us-content {
		.why-us-item {
			width: 40vw;
			height: 300px;
			padding: 20px;
			margin: 10px;
			margin-bottom: 30px;

			h3 {
				font-size: 24px;
			  }
			  
			 p {
				font-size: 20px;
			  }
		  }
	  }
	  
	  .footer {
			padding: 30px;
			font-size: 26px;	
		.text {
			i {			
				padding-right: 18px;
				font-size: 26px;
			}
		
		}
		.footer-text {
			font-size: 20px;
		}
	}
	.portfolio {
		.portfolio-card {
			img{
				height: 40vh;
			}
		}
	}
	.privacy_policy-text {
	p {
			font-size: 20px;
		}
.privacy_policy-text-title {
		font-size: 22px;
	
		}	
	}	.contact {
		font-size: 22px;
		form .btn {
			font-size: 20px;
			}
	}
}
@media (min-width: 1200px) {
		.portfolio {
			.portfolio-card {
				img{
					height: 55vh;
					object-fit: cover;
				}
			}
	}
}

@media (min-width: 1000px) {
	.why-us-content {
	padding: 0;
	margin: 0;
		.why-us-item {
			width: 35vw;
			min-height: 300px;
			padding: 10px;
			margin: 10px;
			margin-bottom: 40px;

			h3 {
				font-size: 26px;
				margin-bottom: 25px;
	  			margin-top: 25px;
			  }
			  
			 p {
				font-size: 22px;
			  }
		  }
	  }
}
@media (min-width: 1800px) {
	.why-us-content {
		.why-us-item {
			width: 25vw;
			min-height: 300px;
			margin: 10px;

			h3 {
				font-size: 26px;
	  			margin-top: 35px;
			  }
			  
			 p {
				font-size: 22px;
			  }
		  }
	  }
}
@media (min-width: 2513px) {
	.why-us-content {
		.why-us-item {
			width: 20vw;
			min-height: 320px;
			margin: 10px;

			h3 {
				font-size: 26px;
	  			margin-top: 35px;
			  }
			  
			 p {
				font-size: 22px;
			  }
		  }
	  }
}
@media (min-width: 3141px) {
	.why-us-content {
		.why-us-item {
			min-width: 10vw;
		  }
	  }
}

}