.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.8s ease-out;
}
.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-right {
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.8s ease-out;
}
.slide-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-top {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.8s ease-out;
}
.slide-in-top.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-bottom {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}
.slide-in-bottom.visible {
  opacity: 1;
  transform: translateY(0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 74px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: hsl(60, 31%, 93%);
  overflow-x: hidden;
}

.shadow-bg {
  background-color: rgba(43, 42, 42, 0.8);
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.underline {
  width: 30%;
  height: 2px;
  margin-bottom: 40px;
  background-color: #c2a477;
}

nav {
  text-transform: uppercase;
  z-index: 5;
  transition: background-color 0.6;
}
nav span {
  font-size: 22px;
  color: #c2a477;
}
nav .navbar-toggler {
  padding: 10px 20px;
  color: hsl(60, 31%, 93%);
  font-size: 22px;
  letter-spacing: 1px;
}
nav .navbar-logo {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: hsl(60, 31%, 93%);
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}
nav .navbar-logo:hover {
  color: hsl(60, 31%, 93%);
  text-decoration-line: underline;
  text-underline-offset: 8px;
}
nav .navnar-nav {
  background-color: rgba(43, 42, 42, 0.8);
}
nav a.nav-link {
  color: hsl(60, 31%, 93%);
  transition: color, text-decoration-line, 0.5s;
}
nav a.nav-link:hover {
  color: #c2a477;
  text-decoration-line: underline;
  text-underline-offset: 8px;
}
nav .navbar-nav .nav-link.active, nav .navbar-nav .nav-link.show {
  color: #c2a477;
}

header.hero-img {
  position: relative;
  height: 100vh;
  font-size: 16px;
  color: hsl(60, 31%, 93%);
  background-image: url("../img/IMG-20210502-WA0000.jpg");
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
header.hero-img h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: lighter;
  margin-bottom: 20px;
}
header.hero-img h1 span {
  color: hsl(60, 31%, 93%);
}
header.hero-img .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -5;
}
header.hero-img .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
header.hero-img .hero-text h1 {
  color: #c2a477;
}
header.hero-img .btn {
  color: white;
  background-color: #c2a477;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color, color, 0.5s;
}
header.hero-img .btn:hover {
  color: #201c1c;
}

.about-us {
  background: linear-gradient(to bottom right, #f5f5f5, #e8e8e8);
  text-align: center;
  color: #333;
  animation: fadeIn 1s ease-in-out;
}
.about-us .section-title {
  font-family: "Poppins", sans-serif;
  color: #444;
  font-size: 25px;
  margin-bottom: 20px;
}
.about-us p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #666;
  max-width: 800px;
  margin: 20px auto;
}
.about-us .highlight {
  color: #c2a477;
  font-weight: bold;
}
.about-us .about-us-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #444;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 30px;
}
.about-us .about-us-button:hover {
  background-color: #555;
  transform: scale(1.05);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.offers-hero {
  background: #333;
  color: #f5f5f5;
}
.offers-hero .section-title {
  font-family: "Poppins", sans-serif;
  color: #f5f5f5;
  font-size: 25px;
  margin-bottom: 20px;
}
.offers-hero .link {
  text-align: center;
  color: #c2a477; /* Zastosowanie koloru $orange */
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.offers-hero .link span {
  font-size: 25px;
}
.offers-hero .link:hover {
  color: #99744d;
}
.offers-hero .offers-hero-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.8s ease-out;
  transition-delay: 0.1s;
  cursor: pointer;
}
.offers-hero .offers-hero-item a {
  color: #f5f5f5;
  text-decoration: none;
}
.offers-hero .offers-hero-item.visible {
  opacity: 1;
  transform: translateX(0);
}
.offers-hero .offers-hero-item:nth-child(2) {
  transition-delay: 0.2s;
}
.offers-hero .offers-hero-item:nth-child(3) {
  transition-delay: 0.3s;
}
.offers-hero .offers-hero-item:hover {
  background-color: #555;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.offers-hero .offers-hero-title {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0;
}
.offers-hero .offers-hero-item-text {
  margin-top: 20px;
  font-size: 20px;
  color: #f5a623;
  font-weight: bold;
  letter-spacing: 1px;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #201c1c;
  padding: 20px;
}
.portfolio .card-img, .portfolio .card-img-bottom, .portfolio .card-img-top {
  width: 400px;
  max-width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.why-us {
  background: linear-gradient(to bottom right, #f5f5f5, #e8e8e8);
  color: #333;
  text-align: center;
}

.section-title h2 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #444;
  margin-bottom: 25px;
  font-weight: bold;
  position: relative;
}

.why-us-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.why-us-item {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  flex: 0 1 calc(33.333% - 40px);
  max-width: calc(33.333% - 40px);
  transition: transform 0.3s ease;
}

.why-us-item h3 {
  font-size: 20px;
  font-weight: 600;
  color: #444;
  margin-bottom: 10px;
}

.why-us-item p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.why-us-item:hover {
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  .why-us-item {
    flex: 0 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
  }
}
@media (max-width: 480px) {
  .why-us-item {
    flex: 0 1 100%;
    max-width: 100%;
  }
}
.footer {
  background: linear-gradient(to bottom right, #f5f5f5, #e8e8e8);
  color: #333;
}
.footer .text i {
  padding-right: 10px;
  font-size: 22px;
  color: #c2a477;
}
.footer .underline-footer {
  width: 100%;
  height: 1px;
  background-color: #c2a477;
}

@media (min-width: 576px) {
  nav .navbar-toggler {
    font-size: 26px;
  }
  nav .navbar-brand {
    font-size: 18px;
  }
  nav a.nav-link {
    font-size: 20px;
  }
  header.hero-img h1 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
  .offers-hero-item-text {
    font-size: 25px;
  }
  .portfolio {
    padding: 20px;
  }
  .portfolio .card-img, .portfolio .card-img-bottom, .portfolio .card-img-top {
    width: 300px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 768px) {
  nav .navbar-brand {
    font-size: 22px;
  }
  header.hero-img h1 {
    font-size: 42px;
  }
  p {
    font-size: 20px;
  }
  .portfolio {
    padding: 20px;
  }
  .portfolio .card-img, .portfolio .card-img-bottom, .portfolio .card-img-top {
    width: 350px;
    height: 400px;
    padding: 15px;
  }
  .offers-hero .offers-hero-item {
    margin: 14px auto;
  }
  .offers-hero .offers-hero-item .offers-hero-title {
    font-size: 22px;
  }
  .offers-hero .offers-hero-item .offers-hero-item-text {
    font-size: 30px;
    letter-spacing: 2px;
  }
}
@media (min-width: 992px) {
  .offers-hero-item-text {
    margin-top: 30px;
    font-size: 35px;
  }
}
.offers-hero-item-text {
  color: #f5a623;
  font-weight: bold;
  letter-spacing: 1px;
}

.offers-hero {
  background-color: #201c1c;
}

.portfolio .card-img, .portfolio .card-img-bottom, .portfolio .card-img-top {
  width: 450px;
  height: 500px;
  padding: 10px;
}

@media (min-width: 1200px) {
  .portfolio .card-img, .portfolio .card-img-bottom, .portfolio .card-img-top {
    width: 400px;
    height: 500px;
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */