@use './colors' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 74px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-light;
	color: $light-brown;
}


.section-title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.underline {
	width: 15%;
	height: 3px;
	margin-bottom: 40px;
	background-color: $dark-brown;
}

nav {
	text-transform: uppercase;
	z-index: 5;
	transition: background-color 0.6;

	.navbar-toggler {
		padding: 10px 20px;
		color: $light-brown;
		font-size: 22px;
	}

	.navbar-brand {
		font-weight: bold;
		font-size: 16px;
		color: $light-brown;
	}
	a.nav-link {
		color: $light-brown;
	}
	.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
		color: white;
	}
}

header.hero-img {
	position: relative;
	height: 100vh;
	font-size: 16px;
	color: $light-brown;
	background-image: url('../img/furniture-998265_1920.jpg');
	background-size: cover;
	background-position: 40%;
	background-attachment: fixed;

	z-index: 0;

	h1 {
		text-transform: uppercase;
		font-size: 22px;
		font-weight: lighter;
		margin-bottom: 20px;
	}

	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.6);
		z-index: -5;
	}

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
	}
	.btn {
	color: $light-brown;
	font-weight: 600;
	}
	.btn:hover {
		background-color: $bg-light;
	color: $dark-brown;
	}
}

.about-me {
	color:$dark-brown;
	text-align: center;
	.title {
		font-size: 20px;
	}
	.text {
		letter-spacing: 1px;
		padding-top: 10px;
	}
	.link {
		font-weight: bold;
		text-transform: uppercase;
		a {
			text-decoration: none;
			color:$dark-brown;
			text-decoration-line: underline;
			cursor: pointer;
		}
	}
}

.offers-hero {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url('../img/meble Grześ/8f09cfa7-f66e-4edb-adcc-e2bdd12fca3f.jpg');
	background-size: cover;
	background-position: center;
	color: $light-brown;
	z-index: 0;

	.offers-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0, 0.7);
		z-index: -5;
	}
	.offers-hero-item {
		margin: 12px 0;

		i {
			font-size: 36px;
		}
		.offers-hero-title {
			font-size: 18px;
			letter-spacing: 2px;
		}
	}
}

.portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: $dark-brown;
	padding: 20px;

.portfolio.card {
	margin: 20px;
	.card-img-top {
width: 18rem;
margin: 20px;
	
		}
	}
	}



@media (min-width: 576px) {
	nav {
		.navbar-toggler {
			font-size: 26px;
		}
	
		.navbar-brand {
			font-size: 18px;
		}
		a.nav-link {
			font-size: 20px;
		}
	}
	header.hero-img h1 {
		font-size: 32px;
	}
	p {
		font-size: 18px;
	}
}


@media (min-width: 768px) {
	nav {	
		.navbar-brand {
			font-size: 22px;
		}
	}
	header.hero-img h1 {
		font-size: 42px;
	}
	p {
		font-size: 20px;
	}
}

// @media (min-width: 992px) {
// 	html {
// 		scroll-padding-top: 72px;
// 	}
// 	.aboutus-hero {
// 		background-image: url('../img/technology-2818664_1920.jpg');
// 	}
// }

// @media (min-width: 1200px) {
// 	header.hero-img {
// 		background-image: url('../img/hero-big.jpeg');
// 	}
// }