@charset "UTF-8";
.fade-in,
.slide-in-top {
  opacity: 0;
  transition: all 0.8s ease-out;
}
.fade-in.visible,
.slide-in-top.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-in,
.slide-in-top {
  transform: translateY(20px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 65px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -5;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #522e24;
  font-size: 20px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #522e24;
}

.underline {
  width: 40%;
  height: 2px;
  margin-bottom: 40px;
  background-color: rgb(190, 129, 14);
  margin: auto;
}

nav {
  background-color: rgba(43, 42, 42, 0.9);
  text-transform: uppercase;
  z-index: 5;
  transition: background-color 0.6;
}
nav span {
  font-size: 22px;
  color: rgb(190, 129, 14);
}
nav .navbar-toggler {
  color: #fff;
  padding: 5px 10px;
}
nav .navbar-logo {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}
nav .navbar-logo:hover {
  text-decoration-line: underline;
  text-underline-offset: 8px;
}
nav a.nav-link {
  color: #fff;
  transition: color, text-decoration-line, 0.5s;
}
nav a.nav-link:hover {
  color: #e4a112;
  text-decoration-line: underline;
  text-underline-offset: 8px;
}
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show {
  color: #e4a112;
}

header.hero-img {
  position: relative;
  height: 100vh;
  font-size: 16px;
  color: #fff;
  background-image: url("../img/furniture-998265_1920-min.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-transform: uppercase;
  z-index: 0;
}
header.hero-img h1 {
  text-transform: uppercase;
  font-size: 20px;
}
header.hero-img h1 span {
  color: #fff;
  font-size: 20px;
}
header.hero-img .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
header.hero-img .hero-text p {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}
header.hero-img .hero-text p span {
  font-weight: bold;
  color: #e4a112;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgb(20, 20, 20);
}
header.hero-img .btn {
  margin-top: 14px;
  color: #fff;
  background-color: rgb(190, 129, 14);
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color, 0.5s;
  border: none;
}
header.hero-img .btn:hover {
  background-color: #e4a112;
}

.hero-section {
  margin-top: 40px;
  color: #c2a477;
}

.gallery-section {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #f5f5f5;
}

.gallery-container {
  display: flex;
  gap: 15px;
  max-width: 90%;
  overflow-x: auto;
  padding: 10px;
}

.gallery-item {
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-content {
  max-width: 60%;
  max-height: 60%;
  margin: auto;
  margin-top: 10%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 2.4em;
  color: white;
  cursor: pointer;
}

.about-us {
  background: linear-gradient(to bottom right, #fff, #f9f5f0);
}
.about-us p {
  font-size: 1rem;
  color: #522e24;
  line-height: 1.8;
  margin-bottom: 20px;
}
.about-us .background-box {
  background-color: #fff;
  border-left: 3px solid #e4a112;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.offers-hero {
  position: relative;
  min-height: 40vh;
  padding: 20px;
  font-size: 16px;
  background-image: url("../img/background wood.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  z-index: 0;
}
.offers-hero .link {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.offers-hero .link span {
  font-size: 18px;
  text-transform: uppercase;
  color: #e4a112;
  text-shadow: 1px 1px 3px rgb(20, 20, 20);
}
.offers-hero .offers-hero-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgb(41, 40, 40);
  transition: transform 0.3s ease-out;
  transition-delay: 0.1s;
  cursor: pointer;
}
.offers-hero .offers-hero-item a.offers-hero-title {
  color: #522e24;
  text-decoration: none;
}
.offers-hero .offers-hero-item:hover {
  transform: scale(1.05);
}
.offers-hero .offers-hero-item-text {
  font-size: 25px;
  color: #e4a112;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgb(20, 20, 20);
}

.why-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom right, #fff, #f9f5f0);
  text-align: center;
}

.why-us-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.why-us-content .why-us-item {
  display: flex;
  flex-direction: column;
  width: 90vw;
  min-height: 120px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}
.why-us-content .why-us-item h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #e4a112;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgb(155, 87, 32);
}
.why-us-content .why-us-item p {
  font-size: 16px;
  padding: 10px;
  line-height: 1.8;
  color: #522e24;
}
.why-us-content .why-us-item:hover {
  transform: translateY(-10px);
}

.portfolio {
  background: #fff;
}
.portfolio img {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
  position: relative;
  color: #fff;
  background-image: url("../img/DALL·E 2024-10-23 17.28.16 - A detailed close-up of a wood grain texture, showcasing natural lines, patterns, and knots typical of oak or ash wood. The wood has a light brown hue .webp");
  padding: 10px;
  font-size: 16px;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.footer .text i {
  padding-right: 10px;
  font-size: 22px;
  color: rgb(190, 129, 14);
}
.footer .footer-text {
  font-size: 12px;
}

@media (min-width: 576px) {
  html {
    scroll-padding-top: 71px;
  }
  .section-title h2 {
    font-size: 32px;
  }
  nav span {
    font-size: 26px;
  }
  nav .navbar-toggler {
    font-size: 24px;
  }
  nav .navbar-logo {
    font-size: 18px;
  }
  nav a.nav-link {
    font-size: 20px;
  }
  header.hero-img .hero-text p {
    font-size: 24px;
  }
  header.hero-img .hero-text p span {
    font-size: 26px;
  }
  header.hero-img .btn {
    font-size: 18px;
    padding: 10px 20px;
  }
  .about-us p {
    font-size: 1.2rem;
  }
  .offers-hero {
    font-size: 18px;
  }
  .offers-hero .link {
    font-size: 22px;
  }
  .offers-hero .link span {
    font-size: 22px;
  }
  .offers-hero .offers-hero-item {
    background-color: #fff;
    padding: 14px;
    margin-bottom: 15px;
  }
  .offers-hero .offers-hero-item a {
    color: #522e24;
    text-decoration: none;
    font-size: 20px;
  }
  .offers-hero .offers-hero-item-text {
    font-size: 28px;
  }
  .why-us-content .why-us-item {
    width: 80vw;
    margin-bottom: 25px;
  }
  .why-us-content .why-us-item h3 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .why-us-content .why-us-item p {
    font-size: 18px;
  }
  .footer {
    padding: 20px;
    font-size: 22px;
    text-shadow: 1px 1px 1px rgb(15, 15, 15);
  }
  .footer .text i {
    padding-right: 15px;
    font-size: 22px;
  }
  .footer .footer-text {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  html {
    scroll-padding-top: 75px;
  }
  .section-title h2 {
    font-size: 34px;
  }
  nav span {
    font-size: 28px;
  }
  nav .navbar-toggler {
    font-size: 30px;
  }
  nav .navbar-logo {
    font-size: 22px;
  }
  nav a.nav-link {
    font-size: 22px;
    padding: 12px;
  }
  header.hero-img .hero-text p {
    font-size: 24px;
  }
  header.hero-img .hero-text p span {
    font-size: 26px;
  }
  header.hero-img .btn {
    font-size: 18px;
    padding: 10px 20px;
  }
  .about-us p {
    font-size: 1.2rem;
  }
  .offers-hero {
    font-size: 18px;
    min-height: 30vh;
  }
  .offers-hero .offers-hero-item {
    padding: 16px;
    margin: 10px;
  }
  .offers-hero .offers-hero-item-text {
    font-size: 30px;
  }
  .why-us-content .why-us-item {
    min-width: 300px;
    margin-bottom: 30px;
  }
  .why-us-content .why-us-item h3 {
    font-size: 24px;
  }
  .why-us-content .why-us-item p {
    font-size: 20px;
  }
  .footer {
    padding: 24px;
    font-size: 24px;
  }
  .footer .text i {
    padding-right: 18px;
    font-size: 24px;
  }
  .footer .footer-text {
    font-size: 18px;
  }
  .portfolio .portfolio-card img {
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 89px;
  }
  .section-title h2 {
    font-size: 34px;
  }
  nav span {
    font-size: 28px;
  }
  nav .navbar-logo {
    font-size: 22px;
  }
  nav a.nav-link {
    font-size: 22px;
  }
  header.hero-img .hero-text p {
    font-size: 26px;
  }
  header.hero-img .hero-text p span {
    font-size: 30px;
  }
  header.hero-img .btn {
    margin-top: 30px;
    font-size: 20px;
  }
  .about-us p {
    font-size: 1.4rem;
  }
  .offers-hero {
    font-size: 24px;
  }
  .offers-hero .link {
    font-size: 22px;
  }
  .offers-hero .link span {
    font-size: 24px;
  }
  .offers-hero .offers-hero-item {
    padding: 14px;
    margin-bottom: 18px;
  }
  .offers-hero .offers-hero-item a {
    font-size: 22px;
  }
  .offers-hero .offers-hero-item-text {
    font-size: 30px;
  }
  .why-us-content .why-us-item {
    width: 40vw;
    height: 300px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
  }
  .why-us-content .why-us-item h3 {
    font-size: 24px;
  }
  .why-us-content .why-us-item p {
    font-size: 20px;
  }
  .footer {
    padding: 30px;
    font-size: 26px;
  }
  .footer .text i {
    padding-right: 18px;
    font-size: 26px;
  }
  .footer .footer-text {
    font-size: 20px;
  }
  .portfolio .portfolio-card img {
    height: 40vh;
  }
}
@media (min-width: 1200px) {
  .portfolio .portfolio-card img {
    height: 55vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1000px) {
  .why-us-content {
    padding: 0;
    margin: 0;
  }
  .why-us-content .why-us-item {
    width: 35vw;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 40px;
  }
  .why-us-content .why-us-item h3 {
    font-size: 26px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .why-us-content .why-us-item p {
    font-size: 22px;
  }
}
@media (min-width: 1800px) {
  .why-us-content .why-us-item {
    width: 25vw;
    min-height: 300px;
    margin: 10px;
  }
  .why-us-content .why-us-item h3 {
    font-size: 26px;
    margin-top: 35px;
  }
  .why-us-content .why-us-item p {
    font-size: 22px;
  }
}
@media (min-width: 2513px) {
  .why-us-content .why-us-item {
    width: 20vw;
    min-height: 320px;
    margin: 10px;
  }
  .why-us-content .why-us-item h3 {
    font-size: 26px;
    margin-top: 35px;
  }
  .why-us-content .why-us-item p {
    font-size: 22px;
  }
}
@media (min-width: 3141px) {
  .why-us-content .why-us-item {
    min-width: 10vw;
  }
}/*# sourceMappingURL=style.css.map */